.card.A {
  background-color: lemonchiffon;
}
.card.B {
  background-color: lightcyan;
}
.card.C {
  background-color: honeydew;
}
.card.D {
  background-color: lavenderblush;
}
button.disabled:hover {
  text-decoration: none;
}